.habilidades{
    display: flex;
    justify-content: center;
    gap: 80px; 
    margin-top: 40px;
}

.coluna{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coluna h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-hailidades{
    display: flex;
    align-items:center ;
    border: #AA5BFF;
    background-color: #1B1D20;
    border-radius: 8px;
    padding: 12px 20px;
    position: relative;
    font-size: 24px;
    border-left-width: 8px;
    border-left-style: solid;
}