.cargo{
    border: #AA5BFF;
    border-left-width: 8px;
    border-left-style: solid;
    background-color: #1B1D20;
    padding: 20px;
    margin-top: 5%;
    border-radius: 20px;
}

.cargo-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
  background: none;
}

.cargo-1 h2{
    display: flex;
    font-size: 24px;
}

.cargo-1 p{
    font-size: 20px;
}

.curso-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 70%;
    margin: 50px auto; 
}

.curso-card{
    background-color: #1B1D20;
    border-radius: 10px;
}