
.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto-conteiner{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: left;
    justify-content: center;
}

.conteiner-botoes{
    width: 300.50px;
    display: flex;              
    justify-content: space-between;
    padding-top: 25px;
    gap: 20px;
}

.conteiner-botoes button{
    border-radius: 40px;
    border: none;
    height: 56px;
    width: 146px;
    font-size: 20px;
}

.botoa-github{
    background: linear-gradient(135deg, #1B1D20, #191a1c);
    color: white;
}

.botao-linkedin{
    background: linear-gradient(135deg, #0A66C2, #05305C);
    color: white;
}

.botao-linkedin:hover{
   background: linear-gradient(135deg, #05305C, #0A66C2);
   transition: 200ms;
}

