.fundo-footer{
    margin-top: 5%; 
    text-align: center;
}

.footer{
    display: flex;                  
    justify-content: space-between;
    align-items: center;  
    height: 80px;
    padding: 5px;
}

.logo{
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #AA5BFF, #663699);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
}

.footer-links{
    display: flex;   
    align-items: center;       
    gap: 20px; 
}

.footer-links a{
    text-decoration: none;
    font-size: 20px;
}

.footer-links a:hover{
    color: #AA5BFF;
    transition: 200ms;
}


.footer-icons{
    margin-top: 15px;
    display: flex;               
    justify-content: space-between;
    align-items: center;  
}

.icons{
    display: flex;
    gap: 20px; 
}

.icone{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 25px; 
    background-color: #9333ea;
}

.text-icons{
    font-size: 20px;
}