div{
    padding: 0px 40px;
}

nav{
    display: flex;                  
    justify-content: space-between;
    align-items: center;  
    height: 80px;
    padding: 5px;
}

.avatar{
    display: flex;          
    Font-size: 20px;
    gap: 20px;
    align-items: center;
}

.logo{
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #AA5BFF, #663699);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
}

.navbar-links{
    display: flex;   
    align-items: center;       
    gap: 20px;              
}

.navbar-links p{
    text-decoration: none;
    font-size: 20px;
}

.navbar-links p:hover{
    color: #AA5BFF;
    transition: 200ms;
}

.card{
    background-color: #1B1D20;
    border-radius: 60px 0 60px 0;
    display: flex;
    height: 549px;
    margin-top: 5%;
}

.foto{
    max-width: 30%;
    border-radius: 60px 0 60px 0;
    margin-left: 20%;
    padding: 10px;
}

.card-text{
    background: none;
    padding: 0;
    margin-top: 10%;
}

.card h2{
    font-size: 30px;
    margin: 10px;
}

.card p{
    font-size: 20px;
    margin: 10px;
} 

.card-botoes{
    margin-top: 15%;
    width: 300.50px;
    display: flex;              
    justify-content: space-between;
    padding: 10px;
    height: 49.2px;
}

.card button{
    border-radius: 40px;
    border: none;
    height: 56px;
    width: 146px;
    font-size: 20px;
}

.botao-contato{
    background: linear-gradient(135deg, #AA5BFF, #663699);
    color: black;
}

.botao-linkedin{
    background: linear-gradient(135deg, #0A66C2, #05305C);
    color: white;
}

.botao-contato:hover{
    background: linear-gradient(135deg, #663699, #AA5BFF);
    transition: 200ms;
}

.botao-linkedin:hover{
   background: linear-gradient(135deg, #05305C, #0A66C2);
   transition: 200ms;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
    margin-top: 10%;
}

.cargo{
    border: #AA5BFF;
    border-left-width: 8px;
    border-left-style: solid;
    background-color: #1B1D20;
    padding: 20px;
    margin-top: 5%;
    border-radius: 20px;
}

.cargo-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
  background: none;
}

.cargo-1 h2{
    display: flex;
    font-size: 24px;
}

.cargo-1 p{
    font-size: 20px;
}